*

!/public/
!/scripts/
!/src/
!/.env.example
!/bun.lock
!/bunfig.toml
!/embed.go
!/env.go
!/go.mod
!/go.sum
!/index.html
!/LICENSE
!/main.go
!/mise.toml
!/package.json
!/tsconfig.json
!/vite.config.ts
