#? Rename or copy this file to ".env" and set the variables there.
#?
#?####################
#? VARIABLE STRUCTURE:
#?####################
#? [ default ] : type < min - max >
#?      ^         ^         ^
#?      |         |         |
#?      |         |         +---- RANGE between two values (these included)
#?      |         +-------------- TYPE of the variable
#?      +------------------------ DEFAULT value applied if not set
#?
#?###################
#? COMMENT STRUCTURE:
#?###################
#? "#?#..." or "###..." are used to comment a section line.
#? "#?" is used to comment a help line.
#? "##" is used to comment a description line.
#? "#" is used to comment a variable line.
#?
#? You should remove the comment on variable lines only if you want to set the variable.

##########
## SERVER:
##########
## Address to bind the server to. [[::]]:string
#? ("[::]", "[::1]", "127.0.0.1", ...)
#JSPF_BIND_ADDRESS=[::]

## Listen port for the server. [3000]:integer
#? Port 0 selects a random available port.
#JSPF_PORT=3000
