*

# Project files
!/.env.example
!/app.go
!/CONTRIBUTING.md
!/embed.go
!/go.mod
!/go.sum
!/LICENSE
!/main.go
!/README.md
!/taskfile.yml
!/wails.json

# Build
!/build/
!/build/**
/build/bin/

# Frontend
!/frontend/
!/frontend/**
/frontend/dist/
/frontend/node_modules/
/frontend/wailsjs/

# GIT
!/.gitattributes
!/.gitignore

# GitHub
!/.github/
!/.github/renovate.json
!/.github/scripts/
!/.github/scripts/*.sh
!/.github/workflows/
!/.github/workflows/*.yml

# Docker
!/.dockerignore
!/Dockerfile
