*

!/.github/
!/.github/renovate.json
!/.github/scripts/
!/.github/scripts/*.sh
!/.github/workflows/
!/.github/workflows/*.yml
!/.zed/
!/.zed/settings.json
!/public/
!/public/**
!/scripts/
!/scripts/**
!/src/
!/src/**
!/.dockerignore
!/.editorconfig
!/.env.example
!/.gitattributes
!/.gitignore
!/biome.json
!/bun.lock
!/bunfig.toml
!/CONTRIBUTING.md
!/Dockerfile
!/embed.go
!/env.go
!/go.mod
!/go.sum
!/index.html
!/LICENSE
!/main.go
!/mise.toml
!/package.json
!/README.md
!/tsconfig.json
!/vite.config.ts
