.cm-scroller {
    overflow: hidden !important;
}

.cm-editor {
    padding: 10px 0 10px 0;
    box-sizing: border-box;
}

.cm-lineNumbers > .cm-gutterElement {
    padding-left: 20px !important;
}

.cm-line {
    text-wrap: wrap;
}