---
import HeaderLabel from '@/components/HeaderLabelComponent.astro';
import Spacer from '@/components/SpacerComponent.astro';
import { MdClass } from 'react-icons/md';
import { PiGithubLogoFill } from 'react-icons/pi';

type Props = {
	lineNumber?: number;
	columnNumber?: number;
};

const { lineNumber = 1, columnNumber = 1 } = Astro.props as Props;
---

<div class="flex bg-neutral-800" style="height: 22px; padding: 0 8px">
    <HeaderLabel
            label={`Ln ${lineNumber.toString().padStart(2, '0')} Col ${columnNumber.toString().padStart(2, '0')}`}
    />
    <HeaderLabel label='Lang (TODO)'/>
    <Spacer/>
    {/* TODO: Expose Backend API route location */}
    <HeaderLabel
            label='Docs'
            openWindow='/api/docs'
    >
        <MdClass slot="icon" fontSize='inherit'/>
    </HeaderLabel>
    <HeaderLabel
            label='Github'
            openWindow="https://github.com/jspaste"
    >
        <PiGithubLogoFill slot="icon" fontSize='inherit'/>
    </HeaderLabel>
</div>