.header {
    background: var(--informationBackground);
    display: flex;
    height: 22px;
    padding: 0 8px
}

.header-label, .header-label_static {
    align-items: center;
    color: white;
    display: flex;
    font-size: 12px;
    gap: 5px;
    margin: 0 5px;
    padding: 0 5px
}

.header-label:hover {
    background: var(--highTransparency);
    cursor: pointer
}

.header-label-text {
    color: var(--text);
    margin: 0
}