#screen-editor {
    display: flex;
    flex-direction: column;
    height: 100vh
}

#editor-content {
    flex: 1 0;
    overflow: auto
}

.cm-lineNumbers {
    padding: 0 5px 0 20px
}

.spacer {
    flex: 1 1
}